/* Uygulamada benden çok daha fazla emeği olan Sadık Turan hocama teşekkür ediyorum..  */
/* Alttan Üstten 1 Rem Boşluk! */
.top-bar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.btn-warning:hover {
    background-color: black;
    border-color: orange;
    color: orange;
}
.navbar-brand {
    font: 25px Arial, sans-serif, bolder;
}

/* cardlar */

.card .img-wrap {
    height: 240px;
}

.img-wrap {
    position: relative;
    display: block;
    padding: 1rem;
    text-align: center;
}

.card .img-wrap img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}

.card .badge {
    position: absolute;
    top: 10px;
    left: 10px;
}

.card .title {
    display: block;
    text-decoration: none;
    color: #51585e;
}

.card .info-wrap {
    padding: 1rem 1.2rem;
}

.btn-icon {
    width: 2.5rem;
    padding-left: 0;
    padding-right: 0;
}

.btn-danger:hover {
    background-color: black;
    border-color: black;
    color: red;
}

.btn-outline-warning:hover {
    border-color: black;
}